<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>By clicking "I Agree" below, I agree to participate in the intelligent mobile data transmission experiments. This application will collect data that samples my location, application usage, web usage, WiFi connectivity, network connectivity, connectivity type, battery information, Bluetooth connections and status and event. I understand that access to any data collected will only be allowed to the members of the University of Birmingham Mobile project research team and only for the purpose of conducting these experiments. Any published results of this study will only refer to anonymised and obfuscated data, and aggregated statistics that do not reveal the identities of the participants. As a participant I have the right to opt out of this study at any time during this experiment by uninstalling the application. Moreover, I have the right to access any information in the data set related to me, and request for any part of that data to be removed.</p>
    
    
  </body>
</html>