<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><a href="https://play.google.com/store/apps/details?id=com.uob.websense">
  <img alt="Get it on Google Play" src="http://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
</a></p>
    <p>Welcome to WebSense user mobile interaction analysis project. Our goal is to understand how the users interact with their mobile devices under various contextual circumstances and to improve mobile technologies so that they work in accordance with the user lifestyle.</p>
    
    <h3>Websense Outline</h3>
    <p>We built a mobile phone application that periodically samples location, application usage, web usage, WiFi connectivity, network connectivity, nearby cell tower information, nearby WiFi access points, battery change, Bluetooth connectivity and co-location based on nearby users and phone's settings (sound settings, brightness levels, various device's manufacturing details, operating system version) and collects that data on a central server. The information collected in this way will be analysed, visualised and interpreted to provide meaningful mobile usage pattern information back to the user, who will learn more about his/her phone usage. In addition, we expect that the results of this analysis will identify patterns in mobile usage, which can be used to develop technologies that can help the end user in his day to day life.</p>
    
    <he>Security & Privacy</he>
<p>The mobile phone application data collection and on-the-phone storage will be designed in accordance to the state-of-the-art best practices in application development. This data will be inaccessible by any other (malicious) application installed on the same phone. To assure that the data is unreadable to any third party in case that a phone is lost/stolen, the application will encrypt all the data before storing it on the phones memory card.</p>
<P>Personal information such as contents of your email conversations, SMS or any other form of private messages would not be read or collected by the application. Additionally, no information related to contacts (telephone numbers, email addresses etc.) on your device or history of communication made with the contact made would be collected by the application.</p>

<p>The information would be transferred to the server using secure transmission. The server itself would be at a secure location in the Computer Science building, University of Birmingham. Login to the server will be only available to researchers involved in this projects and members of Networked Systems and Data Science Lab, for research purposes only.</p>

<h3>Benifits</h3>
<p>The participation is voluntary and there is no monetary reward for your participation. We hope, however, that you will find the application useful, as it will provide you with application usage information and trends in your vicinity. You will be able to find popular applications in your area and worldwide among the participants of this project. The web usage trends will also provide you with the trending websites in your geographical vicinity. Finally, any results coming from this project might result in a scientific publication. We will be happy to share an electronic version (via our website) whenever the copyright laws permit us to do that.</p>

<p style="align:center;width:100%"><a href="/eula">EULA/Privacy Policy</a> | Copyright 2014 </p>
  </body>
</html>